#MPLAB 
*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
html/
*/nbproject/private/
*/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
*/nbproject/Makefile-*
disassembly/
*.map

# exclude Doxygen output directory
01_Doxygen Dokumentation/

# exclude backup files
*.bak*
/.project
